@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

body {
  display: flex;
  justify-content: space-between;
  font family: 'roboto'. sans serif;
  background: url("https://images2.alphacoders.com/778/thumb-1920-77840.jpg");
  background-position: relative;   
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  background-size: cover;
}
.container {
  background: black;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px white;
  padding: 64px;
  align: center;
  margin-left: 250px;
}
.foto {
  width: 200px;
  height 200px;
  border-radius: 160px;
  box-shadow: 4px 4px 4px darkgreen;
}
.cabecalho {
  display: flex;
  justify-content: space-betweem;
}
.perfil {
  display: flex;
 }
.projetos-arduino {
 display: none
}
.titulo {
  margin-left: 16px;
}
.titulo h1{
  font-weight: 700;
  font-size:36px;
}
.titulo h3{
  font-weight: 400;
  font-size: 24px;
}
.subtitulo-projeto {
  font-weight: 300;
  font-size: 24px;
  color: black;
  }
.muda-tema {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 64px;
  background: white;
  border-radius: 100px;
  box-shadow: 3px 3px 3px darkgreen;
  widht: 300;
  height: 300;
}

.icones{
  display: flex;
 justify-content: space-between;
}

.projetos-web {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(236.85deg, darkgreen 27.26%, white 96.03%);
  padding-left: 20px;
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 10px white;
}
.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
  color: black;
}
li {
  list-style-type: none;
  font-weight: 400px;
  font-size: 24px;
  line-height: 48px;
  padding-top: 40px;
}
a {
  color: blue;
  text-decoration: none;
}
.light {
  background-image: url("https://github.com/Nekroz-Tech/Portfolio/blob/main/matrix-fundo-branco.jpg?raw=true");
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
}
.light .container {
 background: white;
  color: black;
}

.light .foto{
  box-shadow: 4px 4px 4px #40bfbf;
}
.light .projetos-web {
  display: none;
}
.light button {
  background: black;
  color: white;
  box-shadow: 3px 3px 3px #40bfbf;
}
.github {
  margin-bottom: 20px;
  margin-left: 10px;
}
.gmail {
  display: flex;
  justify-content: space-betweem;
  margin-top: 20px;
} 
.email {
  margin-top: 40px;
}
.light .projetos-arduino{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(236.85deg, #40bfbf 27.26%, white 96.03%);
  padding-left: 20px;
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 10px white;
}
.light .muda-tema {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 64px;
  background: white;
  border-radius: 100px;
  box-shadow: 3px 3px 3px #40bfbf;
  widht: 300;
  height: 300;